@import "./base/mixins";
@import "./base/variables";

@media (max-width: 767px) {
  .d-flex-clmn {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .sect-title {
    @include font-style($main-font-family, normal, 600, 24px, 29px, $black);
  }
  body {
    min-width: 320px;
    // HEADER
    .header {
      min-height: 275px;
      background-image: url(../images/header_bg_small.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 10em rgba(198, 108, 73, 0.4);
      // menu
      .navbar {
        padding-top: 2em;

        &-toggler {
          position: absolute;
          top: 41.1px;
          left: 10px;
          font-size: 0;
          line-height: 1;
          background-color: transparent;
          border: none;
        }
        &-toggler:focus {
          box-shadow: none;
        }
        &-icon {
          background-image: url(../images/toggler_icon.svg);
          background-repeat: no-repeat;
          width: 25px;
          height: 14px;
          fill: $white;
        }
        &-brand {
          margin-right: 0.3rem;
          @include font-style(
            $main-font-family,
            normal,
            bold,
            24px,
            29px,
            $white
          );
          text-align: center;
        }
        &-brand:hover {
          color: $white;
        }
        &-brand.container-fluid {
          align-items: center;
        }
        &-nav {
          position: absolute;
          width: 30%;
          .nav-item {
            .nav-link {
              padding-left: 20%;
              color: $black;
              background-color: $white;
            }
            .nav-link:hover {
              font-weight: bold;
            }
          }
        }
        // menu
      }
      // title
      &__title-box {
        margin: 10% auto 0;
        @extend .d-flex-clmn;
        &__title {
          @include font-style(
            $main-font-family,
            normal,
            normal,
            20px,
            24px,
            $white
          );
        }
        &__text {
          @include font-style(
            $main-font-family,
            normal,
            normal,
            13px,
            16px,
            $white
          );
        }
        &__link {
          @include font-style(
            $main-font-family,
            normal,
            normal,
            13px,
            16px,
            $white
          );
          text-decoration-line: underline;
        }
        &__link:hover {
          color: $white;
          font-weight: bold;
        }
      }
      // title
    }
    // HEADER

    // MAIN
    // about
    .about {
      margin: 1% auto 0;
      padding-bottom: 11%;
      .row {
        max-width: 337px;
        margin: 0 auto;
      }
      &__title {
        text-align: center;
        margin: 6.7% 0 1.5% -1%;
        @extend .sect-title;
      }
      &__text {
        padding-top: 3.7%;
        margin-left: 0.5%;
        margin-bottom: 0.6%;
        @include font-style(
          $main-font-family,
          normal,
          normal,
          12px,
          15px,
          $black
        );
        text-align: justify;
      }
    }
    // about

    // skills
    .skills {
      background-color: #fffaf2;
      padding-top: 2%;
      margin-bottom: -2%;
      &__box {
        margin: 0 auto;
        justify-content: center;
        padding-top: 6%;
        padding-bottom: 9%;
      }
      .row.row-size {
        max-width: 337px;
        margin: 0 auto;
      }
      &__title {
        text-align: center;
        @extend .sect-title;
        margin-left: -0.3%;
      }
      &__my-photo {
        padding-top: 1%;
        padding-bottom: 7.7%;
        padding-left: 16.8%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        &__img {
          width: 224px;
          height: 218px;
        }
      }
      &__my-skills {
        &__main_sub-title {
          @include font-style(
            $main-font-family,
            normal,
            600,
            12px,
            25px,
            $black
          );
        }
        &__main_desc {
          padding-left: 6%;
          padding-bottom: 10%;
          @include font-style(
            $main-font-family,
            normal,
            normal,
            12px,
            25px,
            $black
          );
        }
        .skills__diagram-box {
          padding-top: 0.9%;
          padding-left: 0;
          padding-right: 0;
          width: 327px;
          margin: 0 auto;
        }
        &__sub-title {
          padding-bottom: 1%;
          @include font-style(
            $main-font-family,
            normal,
            600,
            12px,
            25px,
            $black
          );
        }
        &__desc {
          margin-left: -6%;
          padding-bottom: 7%;
          @include font-style(
            $main-font-family,
            normal,
            normal,
            12px,
            25px,
            $black
          );
        }
        .progress {
          margin-left: -10%;
          border-radius: 0;
          width: 211px;
          height: 18px;
          background-color: #f5d6ab;
          &-bar {
            background-color: #c66c49;
          }
        }
      }
    }
    // skills

    // portfolio
    .portfolio {
      height: 404px;
      .row.row-size {
        max-width: 337px;
        margin: 0 auto;
      }
      &__title {
        text-align: center;
        margin-left: -0.2%;
        margin-top: 0;
        @extend .sect-title;
      }
      .carousel {
        &-inner {
          width: 325px;
          margin: 0 auto;
          padding-top: 6.2%;
        }
        .row {
          justify-content: space-between;
        }
      }
      &__text-box {
        height: 80px;
        width: 341px;
        &__sub-title {
          @include font-style(
            $main-font-family,
            normal,
            500,
            14px,
            25px,
            $black
          );
          text-align: center;
        }
        &__text {
          padding-top: 4.7%;
          margin-left: 2.2%;
          margin-bottom: -2.4%;
          @include font-style(
            $main-font-family,
            normal,
            normal,
            12px,
            15px,
            $black
          );
          text-align: center;
        }
      }
      &__img-box {
        width: 339px;
        height: 195.47px;
        margin-top: 9.1%;
        padding-left: 12px;
        padding-right: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
        &__image-1 {
          width: 169.76px;
          height: 69.85px;
        }
        &__image-2 {
          width: 169.28px;
          height: 113.01px;
        }
        &__image-3 {
          width: 123.69px;
          height: 113.01px;
        }
        &__image-4 {
          width: 123.69px;
          height: 69.85px;
        }
      }
      .carousel-control-prev {
        display: none;
      }
      .carousel-control-next {
        display: none;
      }
    }
    // portfolio
    // MAIN

    // FOOTER
    .footer {
      background-color: #fffaf2;
      &__title {
        @extend .sect-title;
        text-align: center;
        padding-left: 4%;
        padding-top: 0;
      }
      .row.row-size {
        padding: 0;
      }
      .row.row-size.lg_plus {
        max-width: 337px;
        padding: 5.3% 0 0 8%;
      }
      &__column-1 {
        height: 158px;
        margin-right: 0;
        &__link {
          @include font-style(
            $main-font-family,
            normal,
            normal,
            14px,
            17px,
            $black
          );
          text-decoration: none;
        }
      }
      &__column-2 {
        height: 123px;
        padding-left: 6%;
        &__link {
          @extend .footer__column-1__link;
        }
      }
      &__column-3 {
        margin-top: 11%;
        &__link {
          @extend .footer__column-1__link;
          margin-bottom: 2%;
        }
        &__phone-nmb {
          @include font-style(
            $main-font-family,
            normal,
            normal,
            12px,
            15px,
            $black
          );
          text-decoration: none;
        }
      }
      .footer__column-1__link:hover,
      .footer__column-2__link:hover,
      .footer__column-3__link:hover,
      .footer__column-3__phone-nmb:hover {
        font-weight: bold;
        color: $black;
      }
      .to_top {
        display: block;
        background-image: url(../images/to_top.svg);
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        position: relative;
        top: -27px;
        right: -86.9%;
      }
    }
    // FOOTER
  }
}
